.product-container {
    background-color: #fcfcd9;
    padding: 0 !important;
    border: 1px solid #d5d5d3;
    border-radius: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-width: 80%;
}

.product-img {
    width: 100px;
    height: auto;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.product-info {
    margin-left: 15px;
}