<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">San Sklep</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Lista wszystkich ofert
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/sport">
                <span class="oi oi-home" aria-hidden="true"></span> Sport
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/elektronika">
                <span class="oi oi-home" aria-hidden="true"></span> Elektronika
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/moda">
                <span class="oi oi-home" aria-hidden="true"></span> Moda
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/motoryzacja">
                <span class="oi oi-home" aria-hidden="true"></span> Motoryzacja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/domiogrod">
                <span class="oi oi-home" aria-hidden="true"></span> Dom i ogród
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/uroda">
                <span class="oi oi-home" aria-hidden="true"></span> Uroda (Kosmetyki)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addproduct">
                <span class="oi oi-home" aria-hidden="true"></span> Sprzedaj produkt
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
